Invoice_project_build_details.md
Invoice_build_app_details.md
Invoice_details.md


ec_products/fixtures
commits_bk.txt
Dealna_logo.png

# Django
*.sqlite3
media/
staticfiles/

# backups
backups/

# env
venv/
.env
env.py

# python
__pycache__/
*.pyc