{% extends 'base.html' %}

{% block title %}{% trans "Diagnostics Delete" %} {% endblock %}

{% block content %}
<h2>{% trans "Diagnostics Delete" %}  </h2>
<p>  {% trans " Are you sure you want to delete the Diagnostics" %} "{{ object.diagnosis_title }}"?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">{% trans "Yes, Delete" %}</button>
    <a href="{% url 'diagnoses:list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
</form>
{% endblock %}
