{% extends "base.html" %}

{% block title %}{% trans "Diagnostics" %} {% endblock %}

{% block content %}
<h2>{% if object %}{% trans "Diagnostics" %} {% trans "Edit" %} {% else %} {% trans "New Diagnostics" %}{% endif %}</h2>

<form method="post" class="mt-3">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-success">
        {% trans "Save" %}
    </button>
    <a href="{% url 'diagnoses:list' %}" class="btn btn-secondary">
        {% trans "Cancel" %}
    </a>
</form>
{% endblock %}