{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "Customer Delete" %} 
{% endblock %}

{% block content %}
<h2>{% trans "Customer Delete" %} </h2>

<p> {% trans "Are you sure you want to delete the Customer" %} <strong>{{ object.customer_name }}</strong> ?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">{% trans "Yes, Delete" %}</button>
    <a href="{% url 'customers:list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
</form>
{% endblock %}
