<!-- rudys_kfz_service_v1.1/invoices/templates/invoices/companies/list.html -->
{% extends "base.html" %}

{% block title %}{% trans "Company Delete" %}{% endblock %}

{% block content %}
<h2>{% trans "Company Delete" %} </h2>

<p>{% trans "Are you sure you want to delete the Company" %} <strong>{{ object.company_name }}</strong>? </p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">{% trans "Yes, Delete" %} </button>
    <a href="{% url 'companies:list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
</form>
{% endblock %}
